*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Farro', sans-serif;
}

body{
    background-image: url("./../images/microscope.jpg");
    background-size: cover;          
    background-repeat:   no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #eee2dc;
}

.home-title {
    font-family: 'Farro', sans-serif;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.home-title a {
  color: #22adea;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
.home-title a:hover {
  color: #F0AD4E;
}

#h2-register, #h2-addCourse, #h2-login{
  color: #fff;
}

#course-name {
  color: #092936;
}
